extends ./_layout
block menu
  nav
    h1 メニュー
    ul
      li: a(href="todo_0.html") TODO - 普通の使い方
      li: a(href="todo_1.html") TODO - observableを使ってみる
      li: a(href="todo_2.html") TODO - fluxを使ってみる
      li: a(href="todo_3.html") TODO - riotタグを分割してみる
      li: a(href="counter.html") Conter - TODOで作ったfluxを用いサクッと実装
      li: a(href="calendar.html") Calendar - TODOで作ったfluxを用いサクッと実装
  main
