extends ./_layout
block contents
  nav
    h1 メニュー
    ul
      li: a(href="todo_0.html") TODO - シンプルな使い方
      li: a(href="todo_2.html") TODO - observableを使ってみる
      li: a(href="todo_3.html") TODO - fluxを使ったやリ方
      li: a(href="todo_4.html") TODO - fluxを使ったやリ方
  main
